@page
@model RazorPages.Pages.Product.IndexModel
@using RazorPages.Helpers.Constants
@{
}

<h2>Danh sách sản phẩm</h2>

<table class="table">
    <thead>
        <tr>
            <th>Tên</th>
            <th>Giá</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Products)
        {
            <tr>
                <td>@p.ProductName</td>
                <td>@p.Price.ToString("N0")</td>
                <td>
                    <a asp-page="/@RouteName.Product/Details"
                           asp-route-id="@p.PublicId">
                        Chi tiết
                    </a>
                    <a asp-page="/@RouteName.Product/Edit"
                           asp-route-id="@p.PublicId">
                        Chỉnh sửa
                    </a>
                    <a asp-page="/@RouteName.Product/Delete"
                           asp-route-id="@p.PublicId">
                        Xóa
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>